@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {

}

button {
  transition: transform 0.125s ease, color 0.125s ease, background-color 0.125s ease, border-color 0.125s ease;
}

button:active {
  transform: scale(1.1); 
}

.top-dark-transition {
  position:fixed;
  z-index:2000;
  background-color:#000000;
  top:0px;
  left:0px;
  width:100vw;
  height:50vh;
  animation:fadeOut 2.5s ease-in-out forwards;
  opacity:1
}
.bottom-dark-transition {
  position:fixed;
  z-index:2000;
  background-color:#000000;
  bottom:0px;
  left:0px;
  width:100vw;
  height:50vh;
  animation:fadeOut 2.5s ease-in-out forwards;
  opacity:1
}

.farmer {
  position:fixed;
  bottom:5%;
  left:10%;
  z-index:1000;
  opacity:1
}

.farmer-right {
  position:fixed;
  bottom:5%;
  right:10%;
  z-index:1000;
  opacity:1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.game-stats {
  border-radius:10px;
  border:1px solid black;
  width:25vw;
  position: relative;
  background-color: #E4F1F8;
}

.azero-ticker-small {
  width:16px;
  height:16px;
}

.azero-ticker-large {
  width:20px;
  height:20px;
}

.farmer-img {
  position:relative;
  top:-15px;
  margin-bottom: -15px;
}

.minter {
  z-index:2000;
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  padding-top:130px;
  opacity:0
}

.coop-chicken {
  z-index:2000;
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  padding-top:80px;
  opacity:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.coop-fox {
  z-index:1000;
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  padding-top:80px;
  opacity:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inner-body {
  width:100%;
  flex:1;
  z-index:4000;
}

.out-of-the-box {
  z-index:10000;
  margin-top: 30px;
  margin-bottom: 30px;
  position:fixed;
  bottom:0px;
}

.nft-icons {
  width:12vw;
  height:auto
}

.bubble-up {
  opacity:0;
  transform:translateY(20px);
  animation:bubbleIn 0.5s forwards ease-in-out;
}

.arrows {
  width:30px;
}

.claimable-btn {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  border-radius: 20px;
  background-color: black;
  font-size: 25px;
  color:#FFFFFF;
  margin-left:5px;
}

.heart {
  width:40px;
  height:40px;
  position: relative;
  left:25px;
  margin-left: -25px;
  z-index:2000;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px);
  position: relative;
}
.pixel-corners {
  border: 2px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(3px 6px,
    6px 6px,
    6px 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 3px),
    6px calc(100% - 3px),
    6px calc(100% - 6px),
    3px calc(100% - 6px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px,
    0px 50%,
    3px 50%,
    3px 6px,
    6px 6px,
    6px 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 3px),
    6px calc(100% - 3px),
    6px calc(100% - 6px),
    3px calc(100% - 6px),
    3px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -3px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index:1
}

.loader-bar {
  border-radius: 30px;
  width:140px;
  max-width:40vw;
  height:25px;
  background-color: white;
  box-sizing: border-box;
  z-index:1
}

.loader-progress {
  background-color: #E2BE70;
  width:0%;
  height:25px;
}

.game-stats-text {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.centralized {
  justify-content: center;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.secondary {
  background-color: #EDBF8E!important;
}

.unstake-btn {
  flex-direction: row!important;
  display: flex;
  align-items: center!important;
  justify-content: space-between!important;
  padding:5px 10px 5px 10px;
}

@media(max-width:800px) {
  .nft-icons {
    width:30vw;
    height:auto
  }
}

@keyframes fadeOut {
  from {
    height:50vh;
    opacity:1;
  }
  to {
    height:0px;
    opacity:0
  }
}

@keyframes bubbleIn {
  from {
    opacity:0;
    transform:translateY(20px);
  }
  to {
    opacity:1;
    transform:translateY(-30px);
  }
}

@keyframes entrance {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}

@keyframes exit {
  from {
    opacity:1
  }
  to {
    opacity:0
  }
}

@media(max-width:900px) {
  .farmer-right {
    display: none;
  }
}