/* Home.module.css */

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/home.jpg") center center / cover no-repeat;
  filter: brightness(50%);
  z-index: -1; /* Send it to the back */
}

.movieStrip {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 100; /* On top of the content */
}

.movieStripTop {
  top: 0;
  height: 10vh; /* Adjust as needed */
}

.movieStripBottom {
  bottom: 0;
  height: 10vh; /* Adjust as needed */
}

.content {
  position: relative;
  z-index: 50; /* Above the background but below the strips */
  /* Adjust padding or margin if needed */
}


.pageBackground::before {
    content: '';
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/mint.jpg") center center / cover no-repeat; /* Adjust as necessary */
    z-index: -1;
    filter: brightness(40%);
  }
  
  .pageBackground {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh; /* Ensure it covers the full height */
  }
  .pageBackground2::before {
    content: '';
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/coop.jpg") center center / cover no-repeat; /* Adjust as necessary */
    z-index: -1;
    filter: brightness(40%);
  }
  .pageBackground2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh; /* Ensure it covers the full height */
  }

  .bubble {
    position: relative;
    background: #fff;
    color: #000;
  }
  
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 80px;
    bottom: -15px;
    opacity:0;
    animation: show 2s ease-in-out forwards;
  }

  @keyframes show {
    from {
      opacity:0;
      bottom:30px;
    }
    to {
      opacity:1;
      bottom: -15px;
    }
  }

  .top-dark-transition {
    position:fixed;
    z-index:2000;
    background-color:#000000;
    top:0px;
    left:0px;
    width:100vw;
    height:50vh;
    animation:fadeOut 2s ease-in-out forwards
  }
  .bottom-dark-transition {
    position:fixed;
    z-index:2000;
    background-color:#000000;
    bottom:0px;
    left:0px;
    width:100vw;
    height:50vh;
    animation:fadeOut 2s ease-in-out forwards
  }
  